@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	background: none;
	height: auto;
	color: #000000;
}

.clearfix {
	overflow: hidden;
}

.box {
	border-radius: none !important;
	-moz-border-radius: none !important;
	-webkit-border-radius: none !important;
	background: none !important;
}
.box-inner {
	border-color: none !important;
	border-style: none !important;
	border-width: none !important;
	border-radius: none !important;
	-moz-border-radius: none !important;
	-webkit-border-radius: none !important;
	padding: none !important;
	overflow: hidden;
}

.progressbar,
.progressbar-done {
	width: 404px;
	height: 42px;
}
.progressbar {
	background: #e1f6fc;
	position: relative;
	margin-bottom: 10px;
}
.progressbar-done {
	background: #2874bc;
	position: absolute;
	top: 0;
	left: 0;
}
.progressbar-text {
	color: #fff;
	font-size: 25px;
	text-align: right;
	font-weight: bold;
	position: absolute;
	top: 5px;
	right: 17px;
}
.progressbar-text-shadow {
	color: none !important;
	font-size: none !important;
	text-align: none !important;
	font-weight: none !important;
	position: none !important;
	top: none !important;
	right: none !important;
}
.progressbar-stars {
	position: none !important;
	z-index: none !important;
	width: none !important;
	height: none !important;
	top: none !important;
	right: none !important;
	background: none !important;
}

#donate-button {
	display: block;
	width: 253px;
	height: 64px;
}

#donate-button {
}


h1 {
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 140%;
}
h2 {
	font-size: 14px;
	margin-bottom: 10px;
}
#project-description {
	line-height: 140%;
	font-size: 12px;
	margin-bottom: 10px;
}
